.App {
  text-align: center;
}


.detail {
  background: rgb(128, 128, 128);
  height: 100vh;
  width: 100%;
  margin-top: 5px !important;
}

.MuiAppBar-positionFixed-02 {
  position: static !important;
}

.MuiAppBar-root-01 {
  display: block !important;
}

@media (max-width: 62em) {
  
}